@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --lightMode-text: #4f5867;
  --large-text: clamp(
    3.875rem,
    2.92785rem + 3.988vw,
    12.5rem
  ); /*p	380	62	PX	3840	200	PX*/
  --medium-text: clamp(
    1.5rem,
    1.22545rem + 1.156vw,
    4rem
  ); /* p	380	24	PX	3840	64	PX */
  --small-text: clamp(
    0.875rem,
    0.72395rem + 0.636vw,
    2.25rem
  ); /*p	380	14	PX	3840	36	PX*/
  --margin-leftRight: clamp(
    1rem,
    -1.05936rem + 8.671vw,
    19.75rem
  ); /*margin-left	380	16	PX	3840	316	PX */

  --components-boxShadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --components-borderRadius: 1.25rem;
  --components-backgroundLight: rgba(255, 255, 255, 0.75);
  --menu-color: #f8fafd;
  --hourlyDaily-smFont: clamp(
    1rem,
    0.90381rem + 0.405vw,
    1.875rem
  ); /*p	380	16	PX	3840  30PX */
  --icon-width: clamp(
    1.5rem,
    1.41759rem + 0.347vw,
    2.25rem
  ); /*image	380	24	PX	3840	36*/
  --hover-color: #858585b3;
  --search-font: clamp(
    1.25rem,
    1.14028rem + 0.462vw,
    2.25rem
  ); /*font-size	380	20	PX	3840	36*/
  --margin-top: clamp(
    0.875rem,
    0.628rem + 1.04vw,
    3.125rem
  ); /* margin	380	14	PX	3840	50	PX */
  --searchBar-height: clamp(
    3.125rem,
    2.91909rem + 0.867vw,
    5rem
  ); /*height	380	50	PX	3840	129	PX*/
}

body.lightMode {
  color: var(--lightMode-text);
}

body {
  position: relative;
  width: 100%;
  height: fit-content;
  background-image: url('./images/lightMode.jpg');
  /* background: linear-gradient(180deg, #f1f5fc 0%, #eef5fc 100%); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Libre Franklin', sans-serif;
}

.container {
  display: grid;
  grid-template: 50vh 50vh / 1fr 1fr;
}

current-conditions {
  grid-area: 1/ 1/ 2 / 3;
}

current-dashboard {
  grid-area: 2 / 1 / 3 / 2;
  align-self: center;
}

hourly-scroll {
  grid-area: 1 / 1 / 2 / 3;
  align-self: center;
  justify-self: end;
  z-index: 10;
}

.dailyContainer {
  display: flex;
  flex-direction: column;
  grid-area: 2/2/3/3;
  align-items: center;
  justify-content: center;
  gap: 1vh;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  background-color: #4f5867;
  bottom: 0;
  left: 0;
  height: clamp(1.625rem, -0.6878rem + 2.891vw, 6.25rem);
  width: 100vw;
  color: black;
  font-size: var(--small-text);
  text-align: center;
}

footer img {
  width: var(--icon-width);
  vertical-align: middle;
}

footer a {
  text-decoration: none;
  color: #eef2fb;
}

/* .settings {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 11;
  width: clamp(1.5rem, 1.41759rem + 0.347vw, 2.25rem);
  margin-right: clamp(
    0.5rem,
    -0.52956rem + 4.335vw,
    9.875rem
  ); /*image	380	8	PX	3840	158	PX*/
/* margin-top: clamp(1.5rem, 1.14993rem + 1.474vw, 4.6875rem); 24 75 
  margin-top: clamp(1.5rem, 1.18436rem + 1.329vw, 4.375rem);
} */
.settingsContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  z-index: 11;
  margin-right: clamp(
    0.25rem,
    -0.2649rem + 2.168vw,
    4.9375rem
  ); /*margin	380	8	PX	3840	158	PX*/
  height: var(--searchBar-height);
  width: var(--searchBar-height);
  background-color: var(--components-backgroundLight);
  border-radius: 50%;
  margin-top: var(--margin-top);
}

.settingsContainer:hover {
  background-color: var(--hover-color);
  cursor: pointer;
  margin-top: var(--margin-top);
}

.settingsContainer:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}

.settings {
  width: var(--icon-width);
}

settings-menu {
  position: absolute;
  /* display: flex;
  flex-direction: column;
  justify-content: space-evenly; */
  top: 0;
  right: 0;
  background-color: var(--menu-color);
  /* width: clamp(10.875rem, 10.22835rem + 2.874vw, 17.125rem);
  height: clamp(11rem, 8.59625rem + 6.41vw, 17.25rem); */
  margin-top: clamp(
    5rem,
    4.52165rem + 2.126vw,
    9.625rem
  ); /*margin-top	360	80	PX	3840	154	PX*/
  margin-right: clamp(
    1.875rem,
    1.44818rem + 1.897vw,
    6rem
  ); /*margin-right	360	30	PX	3840	96	PX*/
  box-shadow: var(--components-boxShadow);
  z-index: 11;
}

/* .menu div {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: var(--small-text);
  flex: 1;
  padding: 0 5% 0 5%;
}

.menu div:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}

.menu img {
  width: var(--icon-width);
  height: var(--icon-width);
  margin: 0 5% 0 0;
} */

saved-locations {
  position: absolute;
  height: 100%;
  width: 100vw;
  backdrop-filter: blur(6px);
  top: 0;
  left: 0;
  z-index: 12;
  visibility: hidden;
}

@media (max-width: 991.98px) {
  body {
    /* height: 118vh; */

    padding-bottom: 100px;
  }
  .container {
    grid-template: 1.6fr 1fr 1fr 1fr / auto;
  }

  current-dashboard {
    align-self: center;
  }

  hourly-scroll {
    grid-area: 3/1/4/2;
    align-self: center;
    justify-self: start;
  }

  .dailyContainer {
    grid-area: 4/1/5/2;
    align-self: center;
    justify-self: start;
  }
  footer {
    flex-direction: column;
    height: auto;
    width: 100dvw;
  }
  footer a {
    margin: 2px;
  }

  .settingsContainer {
    right: 4%;
    top: 6%;
  }

  settings-menu {
    /* width: 174px; */
    /* height: 176px; */
    /* margin: 130px 30px 0 0; */
    margin-right: clamp(
      1.875rem,
      0.44873rem + 6.339vw,
      4.375rem
    ); /*margin-top	360	30	PX	991	70	PX*/
    margin-top: clamp(
      8.125rem,
      7.05535rem + 4.754vw,
      10rem
    ); /*margin-top	360	130	PX	991	160	PX*/
  }
}

@media (min-height: 1200px) {
  body {
    height: 100vh;
  }
}
