@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  --nav-height: 65px;
}

:root {
  --nav-height: 65px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  position: relative;
  font-family: "Poppins", sans-serif;
  min-height: 100%;
}

/*Navbar styling*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-wrap: nowrap;
  z-index: 1;
}

.navbar h1 {
  width: 25%;
  text-align: center;
  font-size: calc(24px + (52 - 24) * ((100vw - 300px) / (3840 - 1600)));
}

nav {
  width: 50%;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav li {
  list-style: none;
  border-bottom: 2px;
  padding: 10px 10px 5px 10px;
  cursor: pointer;
  font-size: calc(12px + (38 - 12) * ((100vw - 300px) / (3840 - 300)));
}

nav li.active {
  border-bottom: 2px solid red;
}
/* HomePage Styling */
.mainContent {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - var(--nav-height));
}

.outerWord {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  grid-column: 1/ 2;
  grid-row: 1 / 2;
}

img.word {
  width: 100%;
  width: clamp(1.25rem, 0.23071rem + 11.649vw, 28.1875rem);
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  grid-column: 1/2;
  grid-row: 2/3;
}
.text p {
  width: 67%;
  font-size: clamp(0.75rem, 0.09714rem + 1.053vw, 2.625rem);
}

img.plate {
  width: clamp(38.375rem, 14.1237rem + 39.115vw, 108rem);
  margin-right: clamp(1.3125rem, -0.86432rem + 3.511vw, 7.5625rem);
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  align-self: center;
  justify-self: end;
}
/* Background Circle */
.outerCircle {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.circle {
  position: absolute;
  background-image: url("/src/images/Ellipse.png");
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 100%;
  right: -45%;
  bottom: -45%;
  background-repeat: no-repeat;
}

/* Hides the components */
.hidden {
  visibility: hidden;
}

/* Menu Component */
.menuContainer {
  width: clamp(15.75rem, 0rem + 90vw, 216rem);
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: min-content;
  gap: 1px;
}

.menuItem {
  position: relative;
  border: 1px solid #000000;
  width: 100%;
  background-color: #fff;
}

.menuItem header {
  font-weight: 400;
  font-size: 10px;
  font-size: clamp(0.25rem, -0.12074rem + 1.561vw, 3.625rem);
  /* p	380	4	PX	3840	58	PX	p {font-size: clamp(0.25rem, -0.12074rem + 1.561vw, 3.625rem);} */
}

.menuItem hr {
  border: 1px solid #ff0000;
  width: 90%;
  z-index: -1;
}

.menuItem article {
  font-size: clamp(0.25rem, 0.01654rem + 0.983vw, 2.375rem);
  font-weight: 300;
  width: 80%;
}

.menuItem img {
  position: absolute;
  top: 0;
  right: 0px;
  width: clamp(1.25rem, 0.24725rem + 5.73vw, 14rem);
}

/* Contact Page component */
.contactContainer {
  font-size: clamp(0.75rem, 0.09714rem + 1.053vw, 2.625rem);
  height: 60%;
  width: clamp(14rem, 9.43828rem + 26.067vw, 72rem);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: hsla(0, 0%, 100%, 0.7);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.contactContainer header {
  font-size: clamp(2rem, 1.82308rem + 1.011vw, 4.25rem);
  font-weight: 400;
  text-decoration: underline 2px;
  text-underline-offset: 5px;
}
.visit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}

.contact a {
  text-decoration: none;
  text-decoration-color: none;
  color: inherit;
}

.hours {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}

@media screen and (max-width: 1200px) {
  .contactContainer {
    width: clamp(30.9375rem, -65.9375rem + 156.25vw, 51.25rem);
  }
}

@media screen and (max-width: 992px) {
  /* HomePage Styling */

  img.plate {
    grid-row: 2/3;
    grid-column: 1/3;
    margin: auto;
    justify-content: center;
    align-self: center;
  }
  .text {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 80%;
    grid-column: 2/3;
    grid-row: 1;
  }

  .outerWord {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  img.word {
    width: 100%;
    width: clamp(7.5rem, 5.5337rem + 11.236vw, 12.5rem);
  }
}

@media screen and (max-width: 768px) {
  img.plate {
    grid-row: 2/3;
    grid-column: 1/3;
    width: clamp(16.9375rem, 4.63728rem + 70.287vw, 38.375rem);
    margin: auto;
    margin-bottom: 25%;
    justify-content: center;
    align-self: center;
  }

  .text p {
    width: 100%;
    font-size: clamp(0.5rem, 0.40165rem + 0.562vw, 0.75rem);
  }
}

@media screen and (max-width: 576px) {
  .navbar {
    flex-direction: column;
  }

  .navbar h1 {
    width: 100%;
  }

  nav {
    width: 100%;
    margin-right: 0;
  }

  .menuContainer {
    width: 90%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;
    gap: 1px;
  }

  .menuItem {
    position: relative;
    border: 1px solid #000000;
    width: 100%;
    background-color: #fff;
  }

  .menuItem header {
    font-weight: 400;
    font-size: 10px;
  }

  .menuItem hr {
    width: 90%;
    z-index: -1;
  }

  .menuItem article {
    font-size: 6px;
    font-weight: 300;
    width: 41ch;
  }

  .menuItem img {
    position: absolute;
    top: 0;
    right: 0px;
    width: 20%;
  }

  .contactContainer {
    width: 80%;
    height: 70%;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: hsla(0, 0%, 100%, 0.7);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }

  .circle {
    position: absolute;
    background-image: url("/src/images/Ellipse.png");
    background-size: contain;
    background-position: top;
    width: 100%;
    height: 100%;
    right: -45%;
    bottom: -60%;
    background-repeat: no-repeat;
  }
}

@media screen and (max-height: 576px) and (orientation: landscape) {
  .outerWord {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 470px; */
    width: 50%;
    /* margin-top: 100px; */
    grid-column: 1/ 2;
    grid-row: 1 / 2;
  }

  img.word {
    width: 100%;
    width: clamp(1.25rem, 0.23071rem + 11.649vw, 28.1875rem);
  }

  .text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .text p {
    width: 75%;
    font-size: clamp(0.25rem, 0.0533rem + 1.124vw, 0.75rem);
  }

  img.plate {
    width: clamp(14.0625rem, 11.2359rem + 16.152vw, 21.25rem);
    margin-right: clamp(1.3125rem, -0.86432rem + 3.511vw, 7.5625rem);
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    align-self: center;
    justify-self: end;
  }

  .contactContainer {
    width: 30%;
    height: 70%;
    position: absolute;
    font-size: clamp(0.25rem, 0.0533rem + 1.124vw, 0.75rem);
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: hsla(0, 0%, 100%, 0.7);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }

  .contactContainer header {
    font-size: clamp(1rem, 0.84775rem + 0.87vw, 1.5rem);
  }
}
